.difficulty
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    min-height: 100vh;

    &_inner
    {
        width: 600px;
        box-shadow: 0 0 15px rgb(0 0 0 / 20%);
        border-radius: 10px;
        text-align: center;
        padding: 50px 20px;
    }

    &_active
    {
        font-weight: 600;
        background-color: black;
        color: white;
    }

    &_title
    {
        font-size: 20px;
        color: $secondary;
        font-weight: 500;
    }

    &_btns
    {
        margin: 35px 0;

        button
        {
            width: 160px;
            height: 50px;
            background-color: #e5bf9f;
            border: transparent;
            color: white;
            font-weight: 400;
            border-radius: 5px;
            margin: 10px;
        }

        button:hover
        {
            background-color: transparent !important;
            color: $secondary;
            border: 2px solid $secondary;
            font-weight: 500;
        }
    }

    &_active
    {
        background-color: $secondary  !important;
    }

    &_start
    {
        width: 160px;
        height: 50px;
        border: none;
        background-color: $primary;
        border: transparent;
        color: white;
        font-weight: 400;
        border-radius: 5px;
        margin: 10px;
    }

    &_start:hover
    {
        background-color: transparent;
        color: $primary;
        border: 2px solid $primary;
        font-weight: 500;
    }

    &_start:disabled
    {
        background-color: #718789;
    }
}