.home
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 20px;
    min-height: 100vh;
    text-align: center;

    &_title
    {
        font-size: 60px;
        font-weight: 600;
        color: $secondary;
    }

    &_desc
    {
        font-size: 22px;
        color: $primary;
        max-width: 900px;
        margin: 20px 0;
    }

    &_btn
    {
        width: 200px;
        height: 50px;
        border: none;
        background-color: $secondary;
        color: white;
        font-weight: 400;
        border-radius: 5px;
        border: 2px solid transparent;
        font-weight: 500;
    }

    &_btn:hover
    {
        background-color: transparent;
        color: $secondary;
        border: 2px solid $secondary;
        font-weight: 500;
    }
}

@media (max-width: 575px)
{
    .home
    {
        &_title
        {
            font-size: 40px;
        }

        &_desc
        {
            font-size: 16px;
        }
    }
}