@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,300&display=swap');

body
{
    font-family: 'Roboto', sans-serif;
}

$bg: #fff7f0;
$primary: #404F50;
$secondary: #A27C5D;